html {
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#root {
  margin-top: 5px;
}

.listings-subheader {
  margin: 0 15px 0 6px;
}

h3 {
  margin-bottom: 7px;
  font-size: 25px;
  color: #313639;
}

.container {
  max-width: 1440px;
}

nav {
  background-color: #fff;
}

nav img {
  width: 75px;
  vertical-align: middle;
}

.dropdown-container {
  margin-top: 20px;
}

select.sort-by {
  left: 0px;
  top: 0px;
  width: 164px;
  border: 1px solid #666;
  text-align: right;
}

.listings-subheader label {
  float: left;
  margin: 12px;
  font-size: 15px;
  text-transform: uppercase;
}

.card .card-image img {
  height: 305px;
}

.card .card-content {
  padding: 0px 0 26px 14px;
}

.listing-info {
  margin-left: 4px;
}

.listing-info .price {
  color: #696969;
}

.listing-info .listing-specs {
  color: #313639;
  padding-top: 7px;
  font-weight: 600;
}

footer {
  height: 64px;
  /* position: absolute;
  bottom: 0;
  width: 100%; */
  background-color: #808080;
}

.container {
    width: 95%;
}
